/* Local Fonts */

@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Arvo";
  src: url(./fonts/Arvo/Arvo-Regular.ttf);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  background-color: #faf7ef;
  min-height: 100vh;
}

/* Message Styling */

.message {
  width: 100%;
  height: 100%;
  padding-block: 10px;
  background-color: #ee6b6b;
  font-size: 1rem;
  font-family: "Arvo", serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Layout Styling */

.main-container {
  display: flex;
}

/* Sidebar */

.sidebar {
  height: 100%;
  width: 275px;
  background: #cac7bf;
  border-right: 1px solid rgb(0 0 0 / 0.2);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  transition: width ease-in-out 0.4s;
  z-index: 100000;
}

.sidebar ul {
  padding-left: 1rem;
  margin: 2rem 0 0 0;
}

.nav-logo {
  margin-left: 1.5rem;
  font-family: "Arvo", serif;
  letter-spacing: 0.3rem;
  font-size: 2rem;
  user-select: none;
  padding-bottom: 1.5rem;
  cursor: default;
}

.sidebar-item ul li {
  list-style: none;
  margin-bottom: 3rem;
  position: relative;
}

.sidebar-item ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #141414;
  padding-left: 1rem;
}

.sidebar-item ul li a:hover:not(.nav-logo) {
  color: #2a7c7a;
}

.sidebar-item ul li a svg {
  vertical-align: middle;
  margin-right: 1rem;
}

.sidebar-item ul li a::before {
  position: absolute;
  content: "";
  height: 40px;
  top: 0;
  left: 8px;
  background: #fff7e8;
  opacity: 0.5;
  border-radius: 50%;
  z-index: -1;
  width: 40px;
  margin: 0 auto;
}

[class^="icon"] {
  display: relative;
  height: 24px;
}

.tooltip-text {
  display: none;
}

.sidebar-item.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

#logout-btn-contracted {
  display: none;
}

#logout-btn-expanded svg {
  margin-right: 10px;
  transform: translateX(3px);
}

#profile-icon {
  margin-right: 10px;
}

#logout-btn-expanded:hover > .icon-tabler-logout {
  stroke: #2a7c7a;
}

#logout-btn-contracted:hover > .icon-tabler-logout {
  stroke: #2a7c7a;
}

/* Sidebar collapsed */

@media screen and (max-width: 1000px) {
  .sidebar {
    width: 96px;
    transition: width ease-in-out 0.4s;
  }

  .nav-logo {
    display: none;
  }

  .sidebar-item ul li {
    position: relative;
    margin-bottom: 3rem;
  }

  .sidebar-item ul li a:hover::before {
    position: absolute;
    height: 60px;
    width: 60px;
    transition: width 0.2s, height 0.2s;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color: #323219;
  }

  .sidebar-item ul li a span {
    display: none;
  }

  #logout-btn-contracted {
    display: block;
  }

  #logout-btn-expanded {
    display: none;
  }

  #logout-btn-contracted svg {
    transform: translateX(3px);
  }

  .tooltip-text {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    width: 90px;
    height: 15px;
    line-height: 15px;
    opacity: 0.5;
    background-color: #141414;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    bottom: -120%;
    left: 55%;
    transform: translateX(-50%);
    font-family: "Arvo", serif;
  }

  .sidebar-item ul li:hover .tooltip-text {
    visibility: visible;
    transition-delay: 0.5s;
  }

  .character-view-container {
    margin-left: 96px !important;
  }

  .content-container {
    margin-left: 96px !important;
  }

  .write-container {
    margin-left: 96px !important;
  }
}

/* Landing Page */

.landing-header {
  display: grid;
  min-height: 100vh;
  place-items: center;
  text-align: center;
  position: relative;
}

.header-img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 100% 45%;
  z-index: -1;
  filter: brightness(0.6);
}

.heading {
  display: grid;
  width: 100%;
  gap: 1.2rem;
  font-size: 2rem;
  color: #fff7e8;
  margin-block: 3rem;
}

.heading h1 {
  font-family: "Arvo", serif;
  font-size: 4rem;
  color: #fff7e8;
  letter-spacing: 1rem;
  position: relative;
}

.heading h1:after {
  position: absolute;
  content: "";
  height: 0.2rem;
  bottom: -4px;
  left: 0;
  right: 0;
  background: #2ab251;
  z-index: 10;
  width: 40%;
  margin: 0 auto;
}

.signup-btn {
  text-decoration: none;
  color: #fff7e8;
  background-color: #ee6b6b;
  width: 300px;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  border-radius: 20px;
  padding-block: 0.5rem;
  margin-top: 2rem;
  border: 3px solid #373636;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.signup-btn:hover {
  background-color: #fff7e8;
  color: #373636;
}

.content-info-container {
  display: flex;
  position: relative;
  margin-top: 10vh;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content-info-container h2 {
  font-size: 2rem;
  color: #0f4b3d;
  text-align: center;
}

.content-info-container h2 span {
  display: block;
}

.content {
  display: grid;
  place-items: center;
}

.content img {
  max-width: 25rem;
  margin-block: 2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.card-container a {
  text-decoration: none;
}

.content-card {
  display: grid;
  place-items: center;
  max-width: 20rem;
  padding: 2rem;
  text-align: center;
}

.content-card picture {
  background-color: #f9f3e2;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: solid 5px #b1b1b1;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.content-card img {
  height: 100px;
}

.content-card h3 {
  font-size: 1.5rem;
  font-family: "Arvo", serif;
}

.signup-btn-bottom {
  text-decoration: none;
  color: #fff7e8;
  background-color: #ee6b6b;
  font-size: 1.2rem;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  border-radius: 20px;
  border: 3px solid #373636;
  min-width: 200px;
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.signup-btn-bottom:hover {
  background-color: #fff7e8;
  color: #373636;
}

.stats-container {
  margin-top: 3rem;
}

#stats-info {
  text-align: center;
}

.stats-container {
  display: grid;
}

.landing-stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-stats-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.landing-footer {
  display: grid;
  place-items: center;
  width: 100%;
}

.footer-content {
  position: absolute;
  display: flex;
  gap: 6rem;
  justify-content: center;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}

.footer-text {
  font-family: "Arvo", serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0;
  margin-top: 11rem;
}

.footer-wave {
  position: relative;
  text-align: center;
  width: 100%;
  height: 350px;
}

.social-media {
  height: 50px;
  width: 50px;
  cursor: pointer;
  fill: #fff;
}

.social-media:hover {
  fill: #141414;
}

#wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  z-index: -1;
}

.footer-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 500px;
  height: 500px;
  z-index: -3;
}

.footer-img {
  position: absolute;
  top: -50px;
  left: -100px;
}

/* Landing Page Animations */

.fade-in {
  opacity: 0;
  transform: translate3d(0, 8rem, 0);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.faded {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.user-stats-landing-card {
  min-width: 250px;
  opacity: 0;
  transform: translate3d(0, 8rem, 0);
}

.user-stats-landing-card h1 {
  font-size: 2.2rem;
  line-height: 1.5rem;
  transform: scale(1.3);
}

.user-stats-landing-card.faded {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.stats-1 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.stats-2 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0.5s;
  transition-property: transform, opacity;
}
.stats-3 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 1s;
  transition-property: transform, opacity;
}
.stats-4 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 1.5s;
  transition-property: transform, opacity;
}

/* Landing Page Mobile */

@media screen and (max-width: 1290px) {
  .landing-stats-wrapper {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3em;
  }
}
@media screen and (max-width: 666px) {
  .landing-header {
    place-items: start;
  }

  .heading {
    gap: 5rem;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .landing-stats-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat();
    gap: 3em;
  }
}

/* Project Page */

.edit-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  top: -2000px;
  z-index: 1000;
  background-color: #f4f2f0;
  width: auto;
  padding: 1.5rem 1.5rem;
  max-width: 80%;
  transition: top 0.8s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.edit-modal.active {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: left 0s, top 0.4s;
}

.project-edit-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arvo", serif;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.project-edit-input input[type="text"] {
  border-radius: 5px;
  font-size: 1.3rem;
  border: 3px solid rgba(60, 64, 67, 0.3);
}

.project-edit-input > input,
select {
  margin-inline: 1rem;
}

.project-edit-input > input:focus-visible,
.project-edit-input > select:focus-visible {
  outline: none;
  border: 3px solid #0f4b3d;
}

.project-edit-btns {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.overlay {
  position: fixed;
  inset: 0;
  opacity: 0;
  backdrop-filter: blur(2px);
  z-index: 900;
  pointer-events: none;
}

.overlay.active {
  pointer-events: all;
  opacity: 1;
  transition: opacity 0.4s;
}

.project-container {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-container h1 {
  font-family: "Arvo", serif;
  letter-spacing: 0.1rem;
}

.project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.project-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  position: relative;
}

.project-nav-logout,
.nav-user {
  text-decoration: none;
  font-family: "Arvo", serif;
  letter-spacing: 0.1rem;
  color: #ee6b6b;
  position: relative;
}

.project-nav-logout-mobile {
  display: none;
}

.project-nav-logout a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Arvo", serif;
  letter-spacing: 0.1rem;
  color: #ee6b6b;
}

.project-nav-logout a::after {
  position: absolute;
  content: "";
  height: 0.2rem;
  bottom: -4px;
  left: 0;
  right: 0;
  background: #ee6b6b;
  z-index: 10;
  width: 60%;
  margin: 0 auto;
  transition: all linear 0.3s;
}

.project-nav-logout a:hover::after {
  width: 100%;
}

.project-nav-logout a:hover {
  color: #777272;
}

.project-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
}

.project-form {
  overflow: hidden;
  font-size: 1.4rem;
  max-height: 0;
  transition: all 0.3s cubic-bezier(0.1, 0.58, 0.83, 0.41);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-family: "Arvo", serif;
  outline: none;
}

.project-form input,
select {
  border-radius: 5px;
  font-size: 1.3rem;
  border: 3px solid rgba(60, 64, 67, 0.3);
}

.project-form input:focus {
  outline: none;
}

.project-form input:focus-visible {
  outline: none;
  border: 3px solid #0f4b3d;
}

.project-form select:focus-visible {
  outline: none;
  border: 3px solid #0f4b3d;
}

.project-form button {
  display: block;
  cursor: pointer;
  padding: 0.2rem 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  color: #4b1980;
  font-family: "Arvo", serif;
  background-color: #66ca9a;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  outline: none;
  border: 2px solid rgba(60, 64, 67, 0.3);
  border-radius: 5px;
}

.project-form button:hover {
  background-color: #88dcb3;
}

.project-form button:focus-visible {
  border: 3px solid #0f4b3d;
}

.project-form.active {
  overflow: hidden;
  max-height: 147px;
}

.add-project {
  all: unset;
  cursor: pointer;
  fill: #2ab251;
  transition: all 0.3s linear;
}

.add-project.active {
  fill: #ee6b6b;
  transform: rotate(45deg);
}

.add-project:focus-visible,
.add-project.active:focus-visible {
  outline: 3px solid #0f4b3d;
  border-radius: 5px;
}

.project-title,
.project-genre {
  width: 200px;
}

.project-card {
  border-radius: 10px;
  width: 19rem;
  padding: 1.5rem 2rem 1.5rem 2rem;
  color: #0f4b3d;
  border: 2px solid transparent;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: transform 0.2s;
  margin: 1rem;
}

.project-card:hover {
  border: 2px solid #b1b1b1;
  transform: scale(1.02);
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title h3 {
  margin: 0;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}

.card-content p {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.2rem;
}

.card-content p:first-child {
  margin-bottom: 1rem;
}

.card-content span {
  font-weight: bold;
}

#stats-sm {
  font-size: 0.8rem;
  margin: 0;
  line-height: 1.5rem;
  color: #b1b1b1;
}

.progress-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #b1b1b1;
  padding-bottom: 1rem;
}

.progress-pill {
  position: relative;
  width: 100%;
  height: 2rem;
  margin: auto;
  text-align: center;
  background-color: #c3d1b5;
  border-radius: 15px;
  z-index: -1;
}

.progress-bar {
  position: absolute;
  width: 0%;
  height: 2rem;
  top: 0;
  left: 0;
  background-color: #66ca9a;
  border-radius: 15px;
  z-index: -1;
}

.progress-bar.active {
  position: absolute;
  width: 0%;
  height: 2rem;
  top: 0;
  left: 0;
  background-color: #66ca9a;
  border-radius: 15px;
  z-index: -1;
  transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.progress-pill progress {
  opacity: 0;
}

.progress-pill label {
  position: absolute;
  z-index: 10;
  font-family: "Arvo", serif;
  top: 50%;
  transform: translateY(-50%);
}

.icon-edit {
  fill: #2ab251;
}

.card-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}

.card-buttons > button:hover {
  cursor: pointer;
}

#submit-project-update {
  background-color: #5cb087;
}
#submit-project-update:hover {
  background-color: #69cd9d;
}

#close-modal {
  background-color: #777272;
}

#close-modal:hover {
  background-color: #a19b9b;
}

/* Project Page for mobile */

@media screen and (max-width: 897px) {
  .project-nav-logout {
    display: none;
  }

  .project-nav-logout-mobile {
    display: block;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-40%);
  }

  .project-nav-title {
    font-size: 0.8rem;
    text-align: center;
  }

  .project-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-form.active {
    max-height: 250px;
  }
}

/* Character creation page */

.character-view-container {
  width: 80%;
  margin-left: 275px;
}

.character-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.character-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 25em;
  padding: 1rem 1.5rem;
  color: #0f4b3d;
  border: 2px solid transparent;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 1rem;
  max-height: 240px;
  overflow: hidden;
  transition: border 0.4s ease-in-out;
}

.character-card:hover {
  border: 2px solid #66ca9a;

  transition: max-height 0.2s linear;
}

.character-card-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b1b1b1;
  word-wrap: break-word;
}

.character-card h2 {
  margin-right: auto;
  font-family: "Arvo", serif;
  color: #4b1980;
}

.character-img {
  height: 50px;
}

.character-img svg {
  stroke: #4b1980;
  height: 50px;
}

.character-card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
}
.character-card-buttons button {
  margin-inline: 0.5rem;
}

.character-card-content h3 {
  margin-bottom: 0;
}

.character-card-content p {
  font-size: 1rem;
  font-weight: 200;
  margin-top: 0;
}

.character-card-content h3 p {
  background: #6dd407;
}

.affiliations-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-block: 1rem;
}

.character-expand-button {
  display: flex;
  width: auto;
  margin-left: auto;
  padding-right: 1rem;
  margin-block: 1rem;
  transform-origin: 15px 15px;
  transition: transform 0.2s linear;
}

.character-expand-button:hover {
  cursor: pointer;
  filter: invert(30%);
}

.character-expand-button svg:hover {
  filter: invert(30%);
}

.character-expand-button svg {
  height: 30px;
  width: 30px;
}

.character-form-container {
  width: 90%;
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: all 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.character-form-container.active {
  max-height: 1000px;
  overflow: auto;
}

#character-age {
  font-size: 1.5rem;
}

.character-add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  width: 60%;
}

.character-add-form label {
  font-family: "Arvo", serif;
  font-size: 1.2rem;
  justify-self: flex-start;
}

.character-add-form input,
textarea {
  width: 100%;
  margin-block: 0.8rem;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  border: 3px solid rgba(60, 64, 67, 0.3);
}

.character-add-form input:focus-visible,
textarea:focus-visible {
  outline: none;
  border: 3px solid #0f4b3d;
}

#id_affiliations {
  display: grid;
  align-items: center;
  text-align: center;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  overflow-x: auto;
  width: 107%;
}

#id_affiliations div {
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 0.2rem 2rem;
  background-color: rgba(216, 215, 215, 0.2);
}

#id_affiliations div label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  white-space: nowrap;
}

#id_affiliations div input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

#id_affiliations div input[type="checkbox"]:focus-visible {
  outline: 3px solid #0f4b3d;
}

.add-character-btn {
  align-self: center;
  cursor: pointer;
  padding: 0.3rem 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  color: #4b1980;
  font-family: "Arvo", serif;
  background-color: #66ca9a;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  outline: none;
  border: 2px solid rgba(60, 64, 67, 0.3);
  border-radius: 5px;
}

.add-character-btn:hover {
  background-color: #88dcb3;
}

.add-character-btn:focus-visible {
  border: 2px solid #0f4b3d;
}

.btn {
  cursor: pointer;
  border: 2px solid rgba(20, 20, 20, 0.5);
  border-radius: 5px;
  background-color: transparent;
}

.btn > svg,
.icon-delete {
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover {
  border: 2px solid rgba(20, 20, 20, 1);
}

.btn:hover > svg,
.btn:hover .icon-delete {
  transform: scale(1.1);
}

.character-title {
  text-align: center;
}

/* Character Mobile Page */

@media screen and (max-width: 711px) {
  .character-card {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .character-img {
    display: none;
  }
  .character-card-header {
    flex-direction: column;
  }

  .character-title {
    font-size: 1.2rem;
    text-align: center;
  }
}

/* Timeline View */

.content-container {
  min-height: 100vh;
  width: 100%;
  margin-left: 275px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.timeline-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  top: -2000px;
  left: calc(50% - 200px);
  z-index: 1000;
  background-color: #f4f2f0;
  width: 700px;
  max-width: 70%;
  height: 90%;
  transition: top 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: auto;
}

.timeline-modal.active {
  position: fixed;
  top: 50%;
  left: calc(50% - 200px);
  transform: translateY(-50%);
}

.timeline-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  padding: 1rem;
}

.timeline-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.timeline-form-input-container {
  display: flex;
  flex-direction: column;
}

.timeline-form-input {
  border-radius: 5px;
  margin-block: 0.5rem;
}

.timeline-form-input-container input[type="text"] {
  border: 2px solid rgba(20, 20, 20, 0.4);
  border-radius: 5px;
}

.timeline-form-input-container input[type="text"]:focus {
  outline: 1px solid rgba(20, 20, 20, 0.6);
  border-radius: 5px;
}

.timeline-form-input-container textarea {
  border: 2px solid rgba(20, 20, 20, 0.4);
  border-radius: 5px;
}

.timeline-form-input-container textarea:focus {
  outline: 1px solid rgba(20, 20, 20, 0.6);
  border-radius: 5px;
}

.timeline-form-input-container input {
  font-size: 1.5rem;
}

.timeline-lower-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arvo", serif;
}

.form-btn.timeline-form-btn {
  font-size: 1rem;
  width: 10em;
  padding-block: 0.7rem;
  margin: 0 0 0.5rem 0;
  font-family: "Arvo", serif;
}

#submit-timeline-update {
  background-color: #5cb087;
}
#submit-timeline-update:hover {
  background-color: #69cd9d;
}

#close-timeline-modal {
  background-color: #777272;
  margin-left: 50px;
}

#close-timeline-modal:hover {
  background-color: #a19b9b;
}

.timeline-completed {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.timeline-completed input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(157, 149, 149);
  border-radius: 5px;
}

.timeline-completed:hover input ~ .checkmark {
  background-color: #ccc;
}

.timeline-completed input:checked ~ .checkmark {
  background-color: #5cb087;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark:focus-visible {
  outline: 3px solid #141414;
}

.timeline-completed input:checked ~ .checkmark:after {
  display: block;
}

.timeline-completed .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.character-scroll-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-inline: 1rem;
}

.character-scroll-wrapper {
  overflow-x: hidden;
  white-space: nowrap;
  cursor: grab;
}

.character-scroll-wrapper > .left-arrow {
  display: block;
}

.character-scroll-wrapper.at-end-upper > #right-arrow-upper {
  display: none;
}

.character-scroll-wrapper.at-start-upper > #left-arrow-upper {
  display: none;
}

.character-scroll-wrapper.at-end-lower > #right-arrow-lower {
  display: none;
}

.character-scroll-wrapper.at-start-lower > #left-arrow-lower {
  display: none;
}

.character-scroll-content {
  touch-action: pan-y;
  margin-inline: 1rem;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.character-pill {
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  align-items: center;
  height: 1.7rem;
  min-width: 1rem;
  border-radius: 16px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(238, 107, 107, 0.7);
  color: #fff7e8;
  font-size: 1rem;
  font-weight: lighter;
  overflow: hidden;
  cursor: pointer;
  margin-inline: 5px;
  padding-inline: 12px;
}

.character-pill:hover {
  background-color: rgba(238, 107, 107, 1);
}

.character-pill.affiliations {
  margin: 0;
}

.left-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
  z-index: 100000;
  cursor: pointer;
}

.left-arrow:after {
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  right: -50px;
  background: linear-gradient(
    to left,
    rgba(242, 239, 236, 0),
    rgba(242, 239, 236, 1)
  );
  z-index: 10;
  width: 100%;
  margin: 0 auto;
}

.left-arrow-btn {
  background-color: transparent;
  outline: none;
  border: 3px solid transparent;
  cursor: pointer;
  fill: #4b1980;
}

.right-arrow:after {
  position: absolute;
  content: "";
  height: 100%;
  left: -60px;
  right: 0;
  background: linear-gradient(
    to right,
    rgba(242, 239, 236, 0),
    rgba(242, 239, 236, 1)
  );
  z-index: 10;
  width: 100%;
  margin: 0 auto;
}

.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  z-index: 100000;
  cursor: pointer;
  fill: #4b1980;
}

.right-arrow-btn {
  background-color: transparent;
  outline: none;
  border: 3px solid transparent;
  cursor: pointer;
}

.character-selected-btn-container {
  display: inline-flex;
  align-items: center;
  height: 1.7rem;
  min-width: 1rem;
  border-radius: 16px;
  outline: none;
  border: none;
  background-color: rgba(42, 178, 81, 0.8);
  overflow: hidden;
  cursor: pointer;
  margin-inline: 5px;
  padding-left: 12px;
}

.character-selected-btn-container:hover {
  background-color: rgba(42, 178, 81, 0.6);
}

.character-scroll-container.selected {
  margin-block: 2rem;
  display: inline-flex;
  align-items: center;
}

.character-pill-selected {
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  outline: none;
  cursor: auto;
  color: #fff7e8;
  border: none;
  font-size: 1rem;
  font-weight: lighter;
  padding-right: 0;
}

.character-pill-selected-remove {
  background-color: transparent;
  height: 20px;
  outline: none;
  border: none;
  padding: 0 5px;
  align-items: center;
  cursor: pointer;
  fill: #fff7e8;
  transform: scale(0.7);
}

.character-pill-selected-remove:hover {
  filter: invert(0.2);
}

.content-container h1 {
  font-family: "Arvo", serif;
  margin: 1rem 0;
  letter-spacing: 0.1rem;
}

.column-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 85%;
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem;
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: 100%;
  max-width: 21rem;
  min-width: 12rem;
}

.column:first-child::before {
  position: absolute;
  content: "TIME";
  text-align: center;
  text-orientation: mixed;
  letter-spacing: 0.2rem;
  height: 0;
  width: 0;
  top: 8px;
  transform: translateY(-50%);
  left: 0;
  background: #141414;
  z-index: 10;
  margin-left: -55px;
}

.column:first-child::after {
  position: absolute;
  content: "";
  background: url(./assets/arrow-long.svg);
  font-size: 1.2rem;
  height: 417px;
  width: 24px;
  top: 250px;
  transform: translateY(-50%);
  left: -26px;
  z-index: 10;
  margin-left: -20px;
}

.column-title {
  user-select: none;
  font-size: 1.5rem;
  font-family: "Arvo", serif;
  color: #4b1980;
}

.timeline-contents {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgb(0 0 0 / 0.2);
}

#timeline-content {
  margin-block: 0;
  width: auto;
}

.timeline-input {
  width: 100%;
  padding: 0.2rem 1rem;
  background: #fff;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
}

.timeline-input:hover {
  background: rgba(15, 75, 61, 0.5);
  color: #fff;
}

.timeline-input:focus {
  background: rgba(15, 75, 61, 0.5);
  color: #fff;
}

.dropzone {
  height: 15px;
  transition: background 0.2s, height 0.2s;
}

.dropzone.active {
  height: 20px;
  background: rgba(0, 0, 0, 0.25);
}

.add-item {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: #66ca9a;
  color: rgb(238, 247, 237);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.add-item:hover {
  background-color: #5cb087;
}

.edit-timeline {
  all: unset;
  font-size: 11px;
  background-color: #fff;
  border-radius: 0 5px 5px 0;
}

.edit-timeline:hover {
  background-color: #2ab251;
  fill: #fff;
}

.edit-timeline:focus-visible {
  outline: 3px solid #4b1980;
}

.edit-timeline:hover {
  cursor: pointer;
}

/* Timeline for mobile */

@media screen and (max-width: 897px) {
  .content-container h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .column-container {
    flex-direction: column;
    align-items: center;
  }

  .timeline-modal.active {
    position: fixed;
    top: 50%;
    left: calc(50% + 50px);
    transform: translate(-50%, -50%);
    transition: left 0s, top 0.4s;
    height: 100%;
  }
  #close-timeline-modal {
    margin-inline: 5px;
  }
}

@media screen and (max-width: 548px) {
  .column:first-child::before {
    position: absolute;
    content: "";
  }

  .column:first-child::after {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
  }

  .timeline-lower-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #close-timeline-modal,
  #submit-timeline-update {
    margin: 5px 0 5px 0;
    padding: 0.5rem 2rem;
  }
}

/* Disables animations for those who want it */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Write Page */

.write-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: 275px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  width: 80%;
  height: 80vh;
  padding: 0 2rem;
  word-wrap: break-word;
}

.write-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arvo", serif;
  letter-spacing: 0.3rem;
  margin-top: 1rem;
}

.write-title {
  margin: 0.3rem;
}

.form-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

#save-btn {
  margin: 0 2rem;
  padding-block: 0.2rem;
  outline: none;
  border: 3px solid rgba(20, 20, 20, 0.5);
  background-color: #f9f5eb;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  font-weight: bold;
  width: 150px;
}

#save-btn:hover {
  background-color: #66ca9a;
}

.scroll-btn {
  margin-inline: 0.5rem;
  font-family: inherit;
  background-color: transparent;
  border: 3px solid rgba(20, 20, 20, 0.5);
  border-radius: 5px;
  cursor: pointer;
  height: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.scroll-btn:hover {
  border: 3px solid rgba(20, 20, 20, 0.7);
}

.scroll-btn:focus-visible,
#save-btn:focus-visible {
  outline: none;
  border: 3px solid #0f4b3d;
}

[class^="icon"] {
  display: relative;
  height: 24px;
}

@supports not (backdrop-filter: blur()) {
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

/* Register Page */

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  margin: auto;
  text-align: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.3)
    ),
    url(./assets/fountain-pen.avif);
  background-size: cover;
  background-repeat: no-repeat;
}

.register-container header {
  font-family: "Arvo", serif;
  letter-spacing: 0.3rem;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #f4efe3;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.login-form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
  border-radius: 15px;
}

.login-form-container h2 span {
  display: block;
}

.item-container {
  margin-bottom: 1rem;
  transition: all ease-in-out 0.07s;
}

.item-container input {
  display: inline-block;
  width: 90%;
  height: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  max-width: 400px;
  font-size: 1rem;
  background-color: #b1b1b1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
}

.item-container input::placeholder {
  color: transparent;
}

.item-container input:focus {
  outline: 3px solid #0f4b3d;
}

.item-container input:focus + .form-label,
.item-container input:not(:placeholder-shown) + .form-label {
  transform: translate(0.8em, -2.5em) scale(0.7);
}

.form-btn {
  text-decoration: none;
  color: #fff7e8;
  background-color: #ee6b6b;
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
  text-transform: uppercase;
  border-radius: 3px;
  width: 97%;
  max-width: 400px;
  padding: 1rem 0;
  margin-top: 2rem;
  border: none;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-btn:focus {
  outline: 3px solid #0f4b3d;
}

.form-btn:hover {
  background-color: #fff7e8;
  color: #373636;
  cursor: pointer;
}

.form-label {
  display: block;
  position: absolute;
  font-size: 1.2rem;
  transform: translate(1em, -2em);
  transform-origin: 0 0;
  transition: all ease-in-out 0.07s;
  cursor: text;
}

.item-container:focus-within {
  transform: scale(1.05, 1.05);
}

.register-container h2 {
  color: #f4efe3;
  font-weight: bold;
  font-size: 1.5rem;
}

.register-container h2 a {
  text-decoration: underline;
  font-family: "Arvo", serif;
  letter-spacing: 0.1rem;
  color: #ee6b6b;
}
.register-container h2 a:hover {
  color: #f4efe3;
}

.register-container h2 a:focus-visible {
  outline: 3px solid #0f4b3d;
}

/* Login Page */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  margin: auto;
  text-align: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.3)
    ),
    url(./assets/floating-book.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.login-container header h1 {
  font-family: "Arvo", serif;
  letter-spacing: 0.3rem;
  line-height: 1.5;
  font-size: 3rem;
  color: #ee6b6b;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.login-form-container h2 {
  color: #373636;
}

.login-form-container h2 a {
  display: block;
  text-decoration: underline;
  font-family: "Arvo", serif;
  letter-spacing: 0.1rem;
  color: #ee6b6b;
}

.login-form-container h2 a:hover {
  color: #4b1980;
}

.login-ver:focus-visible {
  outline: 3px solid #f4efe3;
}

.login-ver input:focus-visible {
  outline: 3px solid #f4efe3;
}

.form-btn.login-ver {
  margin-bottom: 11vh;
}

/* User Stats Page */

.user-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  text-align: center;
}

.user-nav-item {
  position: relative;
  right: 0;
  top: 0;
  transform: translateY(0);
  display: block;
}

.user-nav-projects a:hover {
  color: #0f4b3d;
}

.user-stats-circle {
  margin-block: 3rem;
  border-bottom: 1px solid rgb(0 0 0 / 0.2);
}

.user-stats-upper {
  display: flex;
  flex-wrap: wrap;
}

.user-stats-card h1 {
  font-size: 2.2rem;
  line-height: 1.5rem;
  transform: scale(1.3);
}

.chart-heading {
  text-align: center;
  font-family: "Arvo", serif;
  font-size: 1.6rem;
}

.user-stats-graphs-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 3rem;
}

.character-chart-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 350px;
  padding-bottom: 3rem;
}

.character-chart-container:after {
  position: absolute;
  content: "Number of Affiliations";
  font-family: "Arvo", serif;
  transform: rotate(-90deg);
  height: 0.2rem;
  top: 250px;
  left: -115px;
  z-index: 10;
  margin: 0 auto;
}

.user-created {
  display: block;
  font-size: 1rem;
  color: #b1b1b1;
  letter-spacing: 0.1rem;
}

.chart {
  margin-inline: 2rem;
  width: 400px;
}

.bottom-stats {
  border-bottom: none;
}

.card-container.user-stats-lower {
  margin-top: 50px;
  position: relative;
}

.user-stats-card picture {
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.user-stats-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: opacity(0.7);
}

.badge-title {
  font-family: "Arvo", serif;
}

/* User Stats Page Mobile */

@media screen and (max-width: 934px) {
  .user-stats-graphs-container {
    justify-content: center;
  }
}

@media screen and (max-width: 1119px) {
  .user-stats-upper {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10vw;
  }
}

@media screen and (max-width: 756px) {
  .user-stats-upper {
    display: flex;
    flex-direction: column;
  }
}

/* Overview Page */

.overview-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4em;
}

.overview-card-background {
  position: relative;
  width: 25em;
  height: 15em;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  overflow: hidden;
}

.overview-card-background:hover > .overview-card {
  filter: invert(0.1);
}

.overview-card-background:hover > .overview-svg {
  top: 5px;
}

.overview-card {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12em;
  left: 0;
  bottom: 0;
  border-radius: 10px;
}

.overview-card-text {
  font-size: 3rem;
  color: #fff;
}

.overview-svg {
  position: absolute;
  transform: scale(1.6) rotate(5deg);
  right: 50px;
  top: 20px;
  transition: all 0.5s ease-in-out;
}

.write-svg {
  fill: #0f4b3d;
}
.characters-svg {
  fill: #2a7c7a;
}
.timeline-svg {
  fill: rgb(169, 58, 58);
}
.profile-svg {
  fill: rgba(20, 20, 20, 0.7);
}

.write-overview-background {
  background-color: #66ca9a;
}

.write-overview-card {
  background-color: #0f4b3d;
}

.timeline-overview-card {
  background-color: rgba(238, 107, 107, 1);
}
.timeline-overview-background {
  background-color: rgba(238, 107, 107, 0.8);
}

.characters-overview-card {
  background-color: #37a09e;
}
.characters-overview-background {
  background-color: #26c6c3;
}

.profile-overview-card {
  background-color: #c9c4b5;
}
.profile-overview-background {
  background-color: #aba89d;
}

/* Overview Page for Mobile */

@media screen and (max-width: 897px) {
  .overview-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-nav {
    flex-direction: column;
  }
}
