{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %}
        Write-Off
        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Poppins&display=swap" rel="stylesheet">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <script src="{% static 'landingPage.js' %}" defer></script>
</head>

<body>
    <div class="register-container">
        {% if message %}
          <div class="message">{{ message }}</div>
        {% endif %}
        <header class="register-header">
            <h1>Register</h1>
        </header>
        <div class="login-form-container">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="item-container">
                    <input autofocus type="text" name="username" id="username" placeholder="Username">
                    <label for="username" class="form-label">Username</label>
                </div>
                <div class="item-container">
                    <input autofocus type="email" name="email" id="email" placeholder="Email">
                    <label for="email" class="form-label">Email</label>
                </div>
                <div class="item-container">
                    <input autofocus type="password" name="password" id="password" placeholder="Password">
                    <label for="password" class="form-label">Password</label>
                </div>
                <div class="item-container">
                    <input autofocus type="password" name="confirmation" id="confirmation" placeholder="Confirm Password">
                    <label for="confirmation" class="form-label">Confirm Password</label>
                </div>
                <button class="form-btn">Sign Up</button>
            </form>
            <h2>Already have an account? <span><a href="{% url 'login' %}">Login here</a></span></span></h2>
        </div>
    </div>
</body>

</html>