{% extends "layout.html" %}
{% load static %}
{% block page_scripts %}<script src="{% static 'timelineItemPage.js' %}" type="module" defer></script>{% endblock %}

{% block body %}
<div class="content-container">
    <div class="overlay"></div>
    <div class="timeline-modal">
        <div class="timeline-modal-container">
            <form action="" class="timeline-form">
                <div class="timeline-form-input-container">
                    <label for="timeline-title" class="timeline-form-input">Event</label>
                    <input type="text" id="timeline-title">
                    <label for="timeline-content" class="timeline-form-input">Summary</label>
                    <textarea id="timeline-content" rows="10" cols="50"></textarea>
                    <label for="timeline-time" class="timeline-form-input">Time</label>
                    <input type="text" id="timeline-time">
                    <label for="timeline-characters" class="timeline-form-input">Characters</label>
                    <div class="character-scroll-container">
                        <div class="character-scroll-wrapper at-start-upper" id="upper-scroll-wrapper">
                            <div class="left-arrow" id="left-arrow-upper">
                                <button class="left-arrow-btn" id="timeline-character-select-left">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M9.525 21.5 1.1 13.1q-.225-.225-.338-.513Q.65 12.3.65 12t.112-.588q.113-.287.338-.512l8.425-8.425q.525-.525 1.275-.538.75-.012 1.3.538.525.525.525 1.287 0 .763-.525 1.288L5.15 12l6.95 6.95q.525.525.537 1.262.013.738-.537 1.288-.525.525-1.288.525-.762 0-1.287-.525Z"/></svg>
                                </button>
                            </div>
                            <div class="character-scroll-content" id="character-scroll-select">
                            </div>
                            <div class="right-arrow" id="right-arrow-upper">
                                <button class="right-arrow-btn" id="timeline-character-select-right">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M6.75 21.5q-.525-.525-.525-1.288 0-.762.525-1.287L13.675 12l-6.95-6.95q-.525-.525-.537-1.275-.013-.75.537-1.3.525-.525 1.287-.525.763 0 1.288.525l8.425 8.425q.225.225.337.512.113.288.113.588t-.113.587q-.112.288-.337.513L9.3 21.525q-.525.525-1.262.525-.738 0-1.288-.55Z"/></svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="character-scroll-container selected">
                        <div class="character-scroll-wrapper at-start-lower" id="lower-scroll-wrapper">
                            <div class="left-arrow" id="left-arrow-lower">
                                <button class="left-arrow-btn" id="timeline-character-selected-left">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M9.525 21.5 1.1 13.1q-.225-.225-.338-.513Q.65 12.3.65 12t.112-.588q.113-.287.338-.512l8.425-8.425q.525-.525 1.275-.538.75-.012 1.3.538.525.525.525 1.287 0 .763-.525 1.288L5.15 12l6.95 6.95q.525.525.537 1.262.013.738-.537 1.288-.525.525-1.288.525-.762 0-1.287-.525Z"/></svg>
                                </button>
                            </div>
                            <div class="character-scroll-content" id="character-scroll-selected">
                            </div>
                            <div class="right-arrow" id="right-arrow-lower">
                                <button class="right-arrow-btn" id="timeline-character-selected-right">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M6.75 21.5q-.525-.525-.525-1.288 0-.762.525-1.287L13.675 12l-6.95-6.95q-.525-.525-.537-1.275-.013-.75.537-1.3.525-.525 1.287-.525.763 0 1.288.525l8.425 8.425q.225.225.337.512.113.288.113.588t-.113.587q-.112.288-.337.513L9.3 21.525q-.525.525-1.262.525-.738 0-1.288-.55Z"/></svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-lower-buttons">
                    <button class="delete-character-btn btn" id="timeline-modal-delete">
                        <a href="/">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-delete" fill="none" viewBox="0 0 24 24" stroke="#EE6B6B"
                                stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg>
                        </a>
                    </button>
                    <label for="timeline-completed-input" class="timeline-completed">COMPLETED
                        <input id="timeline-completed-input" type="checkbox" >
                        <span class="checkmark" tabindex="0"></span>
                    </label>
                    <button id="close-timeline-modal" class="form-btn timeline-form-btn">CANCEL</button>
                    <button id="submit-timeline-update" class="form-btn timeline-form-btn">SAVE</button>
                </div>
            </form>
        </div>
    </div>
    <h1 class="timeline-title" data-slug="{{ project.slug }}">Timeline - {{ project.title }}</h1>
    <div class="column-container">
    </div>
</div>
{% endblock %}

