{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="content-container">
    <h1>Timeline - Lord of the Rings</h1>
    <div class="column-container">
        <div class="column">
            <div class="column-title">Beginning</div>
            <div class="column-items">
                    <div class="dropzone"></div>
                {% for item in timelineItems %}
                    {% if item.column_id == 1 %}
                        <div contenteditable class="column-item-input">{{ item.title }}</div>
                        <div class="dropzone"></div>
                    {% endif %}
                {% endfor %}
            </div>
            <button class="add-item" type="button">+ Add</button>
        </div>
        <div class="column">
            <div class="column-title">Middle</div>
            <div class="column-items">
                <div class="dropzone"></div>
                {% for item in timelineItems %}
                    {% if item.column_id == 2 %}
                        <div contenteditable class="column-item-input">{{ item.title }}</div>
                        <div class="dropzone"></div>
                    {% endif %}
                {% endfor %}
            </div>
            <button class="add-item" type="button">+ Add</button>
        </div>
        <div class="column">
            <div class="column-title">End</div>
            <div class="column-items">
                <div class="dropzone"></div>
                {% for item in timelineItems %}
                    {% if item.column_id == 3 %}
                        <div contenteditable class="column-item-input">{{ item.title }}</div>
                        <div class="dropzone"></div>
                    {% endif %}
                {% endfor %}
            </div>
            <button class="add-item" type="button">+ Add</button>
        </div>
    </div>
</div>
{% endblock %}