{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="content-container">
    <h1>Timeline - Lord of the Rings</h1>
    <div class="column-container">
        <div class="column">
            <div class="column-title">Beginning</div>
            <div class="column-items">
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                
            </div>
            <button class="add-item" type="button">+ Add</button>
        </div>
        <div class="column">
            <div class="column-title">Middle</div>
            <div class="column-items">
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
            </div>
            <button class="add-item" type="button">+ Add</button>
        </div>
        <div class="column">
            <div class="column-title">End</div>
            <div class="column-items">
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
                <div contenteditable class="column-item-input">Test Item</div>
                <div class="dropzone"></div>
            </div>
            <button class="add-item" type="button">+ Add</button>
        </div>
    </div>
</div>
{% endblock %}